@{
    ViewBag.Title = "Index";
}

<h2>How it works</h2>
<p>
    You upload a value for a statistic. You can then view the values of that statistic. There's also an API so you can upload those values from any app.
</p>