@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>How it works</h2>
<p>
    You upload a value for a statistic. You can then view the values of that statistic. We also have an API so you can upload those values from any app you may have developed.
</p>